@import "./variables.scss";

.header {
  background-color: $background;
  display: flex;
  justify-content: center;
  color: $white;

  &__content {
    max-width: $max-width;
    width: 100%;
    padding: 0 $margen-lat 0 $margen-lat;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;

    &--text{
      width: 50%;
      max-width: 640px;


      h1{
        font-size:  $header_title;
        line-height:1.333;
      }

      h2{
        font-size: $header_sub;
        margin-top: 50px;
        font-weight: normal;
      }

      &-testimonials{
        margin-top: 80px;
        display: flex;

        &-img{
          width: 100%;
          img{
            width: 110px;
          }
        }

        &-txt{
          font-size: $header_parag;

          p:first-child {
          }

          p:nth-child(2) {
            margin-top: 20px;
            font-style: italic;
            margin-bottom: 115px;
           }

        
        }
      }
    }

    &--img{
      width: 50%;
      margin-top: 15px;
      video{
        width: 100%;
        border-radius: 30px;

      }
    }


  }
}
