@import './variables.scss';

.logoSec{
    background-color: $background;
    color: $white;
    display: flex;
    justify-content: center;
  
    &__container {
      max-width: $max-width;
      width: 100%;
      padding: 0 $margen-lat 0 $margen-lat;
      margin-top: 160px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
  
      @include breakpoint-down(medium) {
        padding: 0 $margen-lat-mobil 0 $margen-lat-mobil;
        margin-top: 80px;
        margin-bottom: 80px;
  
      }



        img{
            width: 85%;
        }


    }
}