@import './variables.scss';

.navbar{
    &__content{
        display: flex;
        justify-content: space-between;
        height: 175px;
        color: $white;


        &--logo{
            margin-top: 75px;

            img{
                width: 72px;
            }
            
        }

        &--links{
            margin-top: 95px;
            font-size: 24.75px;
            
            :nth-child(n){
                margin: 0 25px 0 25px;
            }

        }


    }
}