//globales
$max-width: 90.625em;
$color-bg: rgba(0,0,0,1);
$margen-lat: 52px;

//colores
$white: rgb(250, 250, 250);
$background: rgb(26,15,49);

//font size
$header_title:3rem;
$header_sub:1.25rem;
$header_parag:1rem;

$sec_title:4.125rem;
$sec_sub:1.546875rem;

$card_title:2.5625rem;
$card_title2:1.6875rem;
$card_sub:1.375rem;


